{% set issData = get_iss_location_data() %}

<div title="Updated At: {{ issData.timestamp|date }}">
    ISS Location ({{ issData.visibility }})
</div>
<div>
    <p>Altitude: {{ issData.altitude }}</p>
    <p>Latitude: {{ issData.latitude }}</p>
    <p>Longitude: {{ issData.longitude }}</p>
</div>
